.Container{
	padding-left: 10px;
	padding-bottom: 70px;
}

.Label{
	font-weight: 700;
}

.ButtonStyle{
	padding: 0px 10px 0px 10px;
	border-radius: 10%;
	background-color: #001D14;
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
}

