.Container{
	padding-left: 10px;
	padding-bottom: 70px;
}

.Label{
	font-weight: 700;
}

.BtnRowStyle{
	padding: 10px 20px 10px 20px;
	border-radius: 10%;
	background-color: #001D14;
	color: #FFF;
	font-size: 24px;
	font-weight: 800;
}

.btn-lg{
	padding: 20px;
}